html{
    font-size: 16px;
}

* {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#titulo {
    background-color: rgba(255,167,41,255);
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-top: 2rem;
}

#titulo > h1 {
    font-weight: 800;
    color: rgba(20,11,42,255);
}

#principal {
    background-color: rgba(255,167,41,255);
    display: flex;
    flex-direction: row;
}

#imagem {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin-left: 12rem;
}

img {
    width: 100%;
}

#right {
    display: flex;
    flex-direction: column;
}

#prof {
    background-color: rgba(0,41,95,255);
    color: white;
    border-radius: .7rem;
    font-size: 1.5rem;
    height: 2rem;
    width: 20rem;
    margin-left: 11.2rem;
    padding: .5rem;
    margin-top: 5rem;
    text-align: center;
}

#investimento{
    margin-left: 10rem;
}

#title-info {
    color: rgba(0,41,95,255);
    margin-top: 3rem;
    margin-left: 3.5rem;
    font-weight: 800;
    line-height: 80%;
    font-size: 2rem;
}

#idealizacao{
    background-color: rgba(0,41,95,255);
    margin-top: 3rem;
    border-radius: 1rem;
    color: rgba(255,167,41,255);
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    margin-left: 8rem;
    font-weight: 550;
}

#idealizacao > h3 {
    padding-left: 8rem;
    color: white;
    font-weight: 800;
}

ul{
    list-style: none;
}

li{
    margin-top: 1rem;
}

#lista > li::before {
    content: "\2714";
    margin-right: 0.5rem;
    color: white;
}


#menuinformacional > ul{
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 8rem;
    list-style: none;
    background-color: rgba(0,41,95,255);
    color: rgba(255,167,41,255);
    font-weight: 800;
    font-size: 1.2rem;
}

#livro::before {
    content: "\1F4D6\00A0"
}

#bloco::before {
    content: "\1F4DD\00A0"
}

#foguete::before {
    content: "\1F680\00A0"
}

#sumario{
    background-color: rgba(237,237,237,255);
}

#sumario > h2{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    color: black;
    font-size: 3rem;
    font-weight: 1000;
}

#modulos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    margin-top: 3rem;
    padding-bottom: 5rem;
    color: rgb(54, 54, 54);
    font-size: 1.2rem;
}

.mod {
    text-align: center;
    background-color: rgb(78, 78, 78);
    color: white;
    width: 10rem;
    height: 2rem;
    padding-top: 1rem;
    padding-bottom: .5rem;
    border-radius: 2rem;
    font-size: 1.3rem;
}

#one{
    margin-left: 3rem;
}

#two{
    margin-left: 3rem;
}

.point{
    margin-top: 3rem;
}

#modulos ul{
    list-style: disc;
}

#pagamento {
    background-color: rgba(0,41,95,255);
    text-align: center;
}

#pagamento h3 {
    padding-top: 2rem;
    color: white;
    font-size: 1.7rem;
    font-weight: 700;
}

#pagamento h2{
    padding-top: 1rem;
    color: rgba(255,167,41,255);
    font-size: 3rem;
    font-weight: 700;
}

#pagamento h4 {
    padding-top: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

#pg {
    padding-top: 0rem;
    color: rgba(255,167,41,255);
    font-size: 3rem;
    font-weight: 700;
}

button{
    background-color: #1ca31c;
    margin-top: 1rem;
    width: 15.6rem;
    height: 2.8rem;
    border: 0;
    border-radius: .5rem;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: .9rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

button:hover {
    background-color: #32CD32;
    color: #FFFFFF;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #05103081;
    transition-duration: 0.5s;
}

footer{
    background-color: rgba(255,167,41,255);
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: rgba(20,11,42,255);
    font-weight: bolder;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
    }

    /* Centralizar o título */
    #titulo {
        font-size: 1.2rem;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding-top: 1rem;
    }

    #titulo > h1 {
        font-weight: 800;
    }

    /* Ajustes para a seção principal */
    #principal {
        flex-direction: column;
        align-items: center;
    }

    #imagem {
        margin-left: 0;
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #right {
        margin-top: 1rem;
        text-align: center;
        width: 80%;
    }

    #prof {
        margin-left: 0;
        width: 80%;
        margin-top: 1rem;
        padding-top: 1rem;
        padding-right: 3rem;
        margin: 0 auto;
    }

    #investimento {
        margin: 0 auto;
        font-size: 1.5rem;
    }

    #title-info {
        font-size: 1.6rem;
        margin-top: 1rem;
        margin-left: 0;
        text-align: center;
    }

    #idealizacao {
        margin: 0 auto;
        margin-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        margin-bottom: 2rem;
    }

    #idealizacao > h3 {
        padding-left: 0;
    }

    #menuinformacional > ul {
        padding-top: 3rem;
        padding-bottom: 3rem;
        flex-direction: column;
        gap: 2rem;
        font-size: 1.2rem;
        text-align: center;
    }

    #livro::before, #bloco::before, #foguete::before {
        font-size: 2rem;
    }

    #sumario > h2 {
        font-size: 2rem;
        padding-top: 1rem;
    }

    #modulos {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    .mod {
        width: 80%;
        font-size: 1.3rem;
    }

    #modulos ul {
        margin-top: 2rem;
        list-style-type: disc;
        margin-left: 0;
    }

    #pagamento {
        text-align: center;
        padding-top: 2rem;
    }

    #pagamento h3 {
        font-size: 1.5rem;
    }

    #pagamento h2 {
        font-size: 2.5rem;
        margin-top: 1rem;
    }

    #pg {
        font-size: 2.5rem;
    }

    button {
        width: 70%;
        font-size: 1rem;
        margin-top: 1rem;
    }

    footer {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #titulo {
        font-size: 1.5rem;
    }

    #titulo > h1 {
        font-weight: 800;
    }

    #principal {
        display: flex;
        flex-wrap: wrap; /* Permite quebra dos elementos quando necessário */
        align-items: flex-start;
    }

    #imagem {
        margin: 0 auto;
        height: auto;
        float: left;
    }

    img {
        width: 100%;
    }

    #right {
        margin: 0 auto;
        width: 80%;
        min-width: 300px; /* Evita que o conteúdo fique muito apertado */
    }

    #prof {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        margin: 0 auto;
        margin-top: 2rem;
        text-align: center;
    }

    #investimento {
        margin: 0 auto;
        margin-top: 4rem;
        text-align: center;
    }

    #title-info {
        font-size: 1.8rem;
        margin: 0 auto;
        text-align: center;
    }

    #idealizacao {
        width: 60%;
        margin: 0 auto;
        margin-top: 4rem;
        margin-bottom: 4rem;
        text-align: start;
    }

    #idealizacao > h3 {
        width: 100%;
    }

    #menuinformacional > ul {
        padding-top: 4rem;
        padding-bottom: 4rem;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        font-size: 1rem;
    }

    #modulos {
        gap: 2rem;
        flex-direction: row;
    }

    .mod {
        width: 12rem;
    }

    #modulos ul {
        margin-top: 2rem;
        list-style: disc;
        padding-left: 1.5rem;
    }

    #pagamento {
        text-align: center;
    }

    #pagamento h3 {
        font-size: 1.7rem;
    }

    #pagamento h2 {
        font-size: 2.5rem;
    }

    #pg {
        font-size: 2.5rem;
    }

    button {
        width: 60%;
        font-size: 1.1rem;
    }

    footer {
        font-size: 1.2rem;
    }
}





